<div class="row">
    <div class="col-sm-6">

        <h3><%= eat.categoryName1 %></h3>
        <ul>
                <% eat.Eats.forEach(function(item) { %>
                    <li><%= item.name %> - <%= item.location %> - Rating: <%= item.rating %></li>
                <% }); %>
            </ul>



    </div>

    <div class="col-sm-6">

        <h3><%= eat.categoryName2 %></h3>
        <ul>
                <% eat.Places.forEach(function(item) { %>
                    <li><%= item.name %> - <%= item.location %> - Date: <%= item.date %></li>
                <% }); %>
            </ul>

    </div>
</div>